<div class="container bottom_space">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center">Welcome Back!</h2>
      <h4 class="text-center">Please give the info below a quick once-over.</h4>
      <%= render 'layouts/student_errors' %>

      <%= render 'form' %>
    </div>
  </div>
</div>