<!-- FORM FOR CREATING A NEW STUDENT --><div class="container bottom_space">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center">Welcome!</h2>
      <h4 class="text-center">Please complete your student profile below.</h4>

      <hr>
      
      <%= render 'layouts/student_errors' %>

      <%= render 'formnew' %>
    </div>
  </div>
</div>
