
<h1> Hello </h1>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Year</th>
			<th>Total Attendances</th>
			<th>Unique Students</th>
			<th>Schools</th>
		</tr>
	</thead>
	<tbody>
		<%  @years.each do |year|  %>
					<tr>
						<td><%= year %></td>
						<td><%= Event.new.total_student_attendances(year) %></td>
						<td><%= Event.new.unique_student_attendances(year) %></td>
						<td><%= Event.new.unique_schools(year) %></td>

					</tr>
			<% end %>
	</tbody>
</table>