<div class="container p-rel">
	<h1 class = "text-center">Past Events</h1>
	<hr>
	<table class="table">
		<thead>
			<tr>
				<th>
					Date
				</th>
				<th>
					Title
				</th>
				<th>
					
				</th>
			</tr>			
		</thead>
		<tbody>
			<% @past_events.each do |event| %>
				<tr>
					<td>
						<%= event_date(event) %>
					</td>
					<td>
						<%= event.title %>
					</td>
					<td>
						<a href="/events/<%= event.id %>" class="btn custom-btn borderless">
							Edit <span class="glyphicon glyphicon-edit"></span>
					  </a>
					</td>
				</tr>
			<% end %>	
			
		</tbody>
	</table>
	<a href="/events" class="btn custom-btn borderless">
	Return to Upcoming Events<span class="glyphicon glyphicon-view"></span></a>
</div>