<div class="container bottom_space">
  	<div class="row">
    	<div class="col-md-6 col-md-offset-3">
    		<h1 class="text-center"> Which data set would you like to export?</h1>
    		<%= link_to 'Download', export_index_path(format: :xlsx) %>
    		<table class="table">
    			<thead class="text-center">
    				<th>Students</th>
    				<th>Attendances</th>
    				<th>Events</th>
    				<th>Movies</th>
    				<th>Schools</th>
    				<th>Users</th>
    			</thead>
    			<tbody class = "text-center">
    				<td><a href="/events" class="glyphicon btn custom-btn borderless">Download</a></td>
    				<td><a href="/events" class="glyphicon btn custom-btn borderless">Download</a></td>
    				<td><a href="/events" class="glyphicon btn custom-btn borderless">Download</a></td>
    				<td><a href="/events" class="glyphicon btn custom-btn borderless">Download</a></td>
    				<td><a href="/events" class="glyphicon btn custom-btn borderless">Download</a></td>
    				<td><a href="/events" class="glyphicon btn custom-btn borderless">Download</a></td>
    			</tbody>
    		</table>
    	</div>
    </div>
</div>