<div class="container">
	<div class="container bottom_space">
	  	<div class="row">
	    	<div class="col-md-6 col-md-offset-3">
	    		<h1 class="text-center">Search for student area.</h1>
	      		<h2 class="text-center">If your search yields nothing try typing part of the name</h2>
	      		<div>
	   				<%= form_for "findingStudents" do |f| %>
		      			<div class= "form-group">
			      			<%= f.label "name" %>
			      	   		<%= f.text_field "name", class: "form-control"%>
		      			</div>
		      			<input type="submit" class= "btn custom-btn col-xs-4 col-xs-offset-4">
	      			<% end %>
      			</div>
	  		</div>
		</div>
	</div>
</div>

