<% if session[:student] %>
  <% if session[:student].errors.any? %>

    <div id="error_explanation">
      <div class="alert alert-danger">
        Signup contains <%= pluralize(session[:student].errors.count, "error") %>.
      </div>
      <ul>
      <% session[:student].errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
<% end %>
