<header>
		<nav class="navbar navbar-inverse">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Film Streams Student Night</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
				<% if load_current_user %>
					<li><a href="/events" >Create New Event</a></li>
				  <li><a href="/event/show" >Upcoming Events</a></li>
					<li><a href="/logout">Logout</a></li>
				<% else  %>
				 	<li><a href="/login">Log In</a></li>
				 	<li><a href="/users/new">Register</a></li>
				<% end %>
			</ul>
	  </div>
	</nav>
</header>
<%= render 'layouts/error_messages' %>
<%= render 'layouts/flashes' %>'