<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
  	<p class="navbar-text"><a href="/statistics">Overview</a></p>
  	<p class="navbar-text"><a href="/statistics/by_date">Students & Schools</a></p>
  	<p class="navbar-text"><a href="/statistics/list?year=<%=Date.today.year%>">Per Event</a></p>
  	<p class="navbar-text"><a href="/export">Export</a></p>
  </div>
</nav>